.block{
  position:absolute;
  top:-50px;
  left:-50px;
  width:100px;
  height:100px;
  background:url("../img/grass.png") 50% 50% repeat;
  -webkit-transform-style:preserve-3d;
  
  }
  .block:after{
    
    position:absolute;
    top:0;
    left:0;
    display:block;
    overflow:hidden;
    
    width:100px;
    height:200px;
    
    background:url("../img/ground.png") 0 100% repeat-x;
    content:".";
    text-indent:-9000px;
    -webkit-transform:rotateX(-90deg);
    
    -webkit-transform-origin:0 0 0;
    }
  .block:before{
    position:absolute;
    top:0;
    left:0;
    display:block;
    overflow:hidden;
    
    width:100px;
    height:200px;
    
    background:url("../img/ground.png") 0 100% repeat-x;
    content:".";
    text-indent:-9000px;
    -webkit-transform:rotateX(-90deg) translateZ(100px);
    
    -webkit-transform-origin:0 0 0;
    }
  .block .block-inner{
    position:absolute;
    top:0;
    left:0;
    
    display:block;
    
    width:100px;
    height:200px;
    
    background:url("../img/ground.png") 0 100% repeat-x;
    -webkit-transform:rotateX(-90deg) rotateY(-90deg);
    -webkit-transform-origin:0 0 0;
    -webkit-transform-style:preserve-3d;
    }
  .block .turn-road{
    display:block;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    overflow:hidden;
    
    -webkit-transform: translateZ(.1px);
    }
    .block .turn-road:before{
      content:".";
      display:block;
      overflow:hidden;
      text-indent:-9000px;
      
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      right:50%;

      display:block;

      }
    .block .turn-road:after{
      content:".";
      display:block;
      overflow:hidden;
      text-indent:-9000px;
      
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:50%;

      display:block;
      }
  .block .block-inner:after{
    position:absolute;
    top:0;
    left:0;
    display:block;
    overflow:hidden;
    
    width:100px;
    height:200px;
    
    background:url("../img/ground.png") 0 100% repeat-x;
    
    content:".";
    text-indent:-9000px;
    -webkit-transform: translateZ(-100px);
    
    -webkit-transform-origin:0 0 0;
    }
  .block .block-inner:before{
    position:absolute;
    top:0;
    left:0;
    display:block;
    overflow:hidden;
    
    width:100px;
    height:100px;
    
    background:url("../img/rocks.png") 0 0 repeat;
    content:".";
    text-indent:-9000px;
    -webkit-transform:rotateX(-90deg) translateZ(200px);
    
    -webkit-transform-origin:0 0 0;
    }


.block[data-size="500"]{
  top:-250px;
  left:-250px;
  width:500px;
  height:500px;
  }
  .block[data-size="500"]:after{
    width:500px;
    height:200px;
    }
  .block[data-size="500"]:before{
    width:500px;
    height:200px;
    -webkit-transform:rotateX(-90deg) translateZ(500px);
    }
  .block[data-size="500"] .block-inner{
    width:500px;
    height:200px;
    }
  .block[data-size="500"] .block-inner:after{
    width:500px;
    height:200px;
    -webkit-transform: translateZ(-500px);
    }
  .block[data-size="500"] .block-inner:before{
    width:500px;
    height:500px;
    -webkit-transform:rotateX(-90deg) translateZ(200px);
    }
    
.block[data-size="1000"]{
  top:-500px;
  left:-500px;
  width:1000px;
  height:1000px;
  }
  .block[data-size="1000"]:after{
    width:1000px;
    height:200px;
    }
  .block[data-size="1000"]:before{
    width:1000px;
    height:200px;
    -webkit-transform:rotateX(-90deg) translateZ(1000px);
    }
  .block[data-size="1000"] .block-inner{
    width:1000px;
    height:200px;
    }
  .block[data-size="1000"] .block-inner:after{
    width:1000px;
    height:200px;
    -webkit-transform: translateZ(-1000px);
    }
  .block[data-size="1000"] .block-inner:before{
    width:1000px;
    height:1000px;
    -webkit-transform:rotateX(-90deg) translateZ(200px);
    }
    

.block[data-size="250"]{
  top:-125px;
  left:-125px;
  width:250px;
  height:250px;
  }
  .block[data-size="250"]:after{
    width:250px;
    height:100px;
    }
  .block[data-size="250"]:before{
    width:250px;
    height:100px;
    -webkit-transform:rotateX(-90deg) translateZ(250px);
    }
  .block[data-size="250"] .block-inner{
    width:250px;
    height:100px;
    }
  .block[data-size="250"] .block-inner:after{
    width:250px;
    height:100px;
    -webkit-transform: translateZ(-250px);
    }
  .block[data-size="250"] .block-inner:before{
    width:250px;
    height:250px;
    -webkit-transform:rotateX(-90deg) translateZ(100px);
    }