.steps-widget{
	position: relative;

	overflow:hidden;
	background: url("../img/steps-bg.png") 100% 0 no-repeat;
	}
	.steps-widget p{
		font:13px/18px 'Marmelad', Arial, "Helvetica Neue", Helvetica, sans-serif;
		color:#363636;
		}
		.steps-widget p b{
			background-color: #fae498;
			}
	.steps-widget .title{
		font:36px/36px 'Marmelad', Arial, "Helvetica Neue", Helvetica, sans-serif;
		color:#3b5050;
		text-transform:lowercase;
		padding:68px 0 0;
		margin:0 0 10px;
		}
		.steps-widget .step-2 .title{
			padding:32px 0 0;
			}
	.steps-widget .step-1{
		width:154px;
		margin:0 154px 0 0;
		float:left;
		}
	.steps-widget .step-2{
		width:154px;
		margin:0 154px 0 0;
		float:left;
		}
	.steps-widget .step-3{
		width:154px;
		float:left;
		}